/*Astericsk wildcard selector to overide default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

/* General styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*General project styles */
}


    /* Header */
 header{
    background-color:rgb(14, 176, 231) 
}
/* Main Content */
main{
    background-color: rgb(236, 240, 19);
/* Make main element take up surplus space to push footer down */
flex: 1 0 auto;  

/* Celebration image */

}

/* Footer */
footer{
    background-color: rgb(14, 176, 231)
}

/* Potential colours to work with */
Choice of colours{
    #2596be - blue



}
