@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
*Astericsk wildcard selector to overide default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

/* General styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
}
p{
    color: #8b672e;
}
h3 .sub-heading{
    color:#8b672e
}

 /*General project styles */
body { 
font-family: "Livvic", sans-serif;
letter-spacing: 2px;
padding-top: 3rem/* Push the hearder down below the navbar */
}

h1,
h2,
h3
{ 
    font-family: "Livvic", sans-serif;
    color: darkorange;
    margin: 2px;   
}

.sub-heading{
    font-size: 1.5rem; 
}

section{
    /* prevent navbar overlap */
padding-top: 3rem;
}
    

/* Header */
 header{
    color:darkorange;
}
header h1, h2{
    color: darkorange;
    font-size: 2rem;
    font-weight: bold;
}
header p{
    color: darkorange !important;
    font-size: 1.rem;
}
.btn{
    background-color: darkorange !important;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Navigation */
.nav-link{
    font-size: large; 
}
.nav-links active:{
    font-weight: bold;
}
.navbar-brand{
    font-weight: bold;
    color: darkorange !important;
    font-size: 1.5rem;
}
.navbar-brand:hover{
    color: gold !important;
}
.navbar{
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
}
.nav-link .active{
    color: gold;
    font-weight: bolder;
    ;
}

/* Main Content */
main{

/* Make main element take up surplus space to push footer down */
flex: 1 0 auto;  

}
/* About Us */

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


/* Gallery */
#gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    color:#8b672e
}
body{
    margin: 0;
    padding: 0;
}

#gallery img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}
#gallery p{
    text-align: center;
    font-size: 1.2rem;
    color:  #8b672e;
}
#gallery h3{
    text-align: center;
    font-size: 2rem;
    color: darkorange;
}

/* task list */

#task{
    padding-top: 2rem; /* pushes Task down away from the navbar */
}
.category{
    color: #8b672e;
    padding-left: 30px;
    font-size: 1rem;

}
body{
    margin: 0;
    padding: 0;
}

.task-button{
    border: 10px solid darkorange;
    padding: 15px;
    margin: 10px;
    width: 100%;
    height: 2.5rem;
}
.confirmation-message{
    text-align: center;
    margin-left: 20px;
}

/* task of the day */
.today{
    font-size: 2.5rem;
    padding-left: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.day-tasks {
    color: #8b672e;
    padding: 30px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    list-style-type:"none";
}
.day-reward{
    color: #8b672e;
    padding: 30px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    list-style-type:"none";
}
 .day-reward h3{
    margin: 10px;
    padding: 30px;
    font-size: 2rem;
 }

/* Reward tier */
.reward-teir{
    color: #8b672e;
    font-size: 1.5r;
    margin: 10px 0;
    padding-top: 10px; 
}

.reward-teir h3{
    margin: 1rem;
    padding-top: 30px; /* Pushes the text down away from the the dropdown menu */
    font-size: 2rem;
    text-align: center;
    color:darkorange;
}
.text-center{
    justify-content: center;
    padding-top: 3rem;
    color: darkorange;
}

#small-wins{
    padding: 10px;
    margin: 10px;
    font-size: medium;
    border: 1opx solid darkorange;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#midium-wins{
    padding: 10px;
    margin: 10px;
    font-size: medium;
    border: 1opx solid darkorange;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
#big-milestones{
    padding: 10px;
    margin: 10px;
    font-size: medium;
    border: 1opx solid darkorange;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

    /* Footer */
footer{
    background-color: white

}
.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 30px;
}

.social-links a {
    color: darkorange;
    text-decoration: none;
    transition: color 0.3s ease;
}

.media-links a:hover {
    color: gold;
}
.media-links{
    color: darkorange;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: color 0.3s ease;
}
.media-links:hover {
    color: gold;
}

/* Medium devices: phones (up to 764px) */
@media screen and (max-width: 764px){
}

/* Large divices: laptops and larger (992px and up) */
@media screen and (min-width: 992px){
}
/* Large divices: laptops and larger (1200px and up) */
@media screen and (min-width: 1200px){

}